* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1452px) {
  .container {
    max-width: 1240px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  background-color: #fff;
}

.menu__icon {
  display: none;
}

.menu__body {
  margin: 33px 250px 0px 250px;
  padding-bottom: 33px;
  border-bottom: 1px solid #828282;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.menu__link {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link:hover {
  color: #070707;
  text-decoration: underline;
}

.menu__link.active {
  color: #070707;
  text-decoration: underline;
}

@media (max-width: 1240px) {
  .menu__body {
    margin: 33px 150px 0px 150px;
  }
}

@media (max-width: 767px) {
  .menu__body {
    margin: 33px 60px 0px 60px;
  }
}

@media (max-width: 480px) {
  body.lock {
    overflow: hidden;
  }
  .header::before {
    height: 35px;
  }
  .icon-menu {
    display: block;
    position: absolute;
    top: 33px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #828282;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }
  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
  .body-menu {
    position: fixed;
    top: -100%;
    margin: 0px 0px 0px 0px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: #cfd3cf;
    padding: 70px 10px 20px 10px;
    z-index: 3;
  }
  .body-menu.active {
    top: 0;
    margin: 0;
  }
  .menu__link {
    font-size: 16px;
  }
  .menu__list {
    display: block;
  }
  .menu__list li {
    margin: 30px 0px 20px 0px;
  }
}

@media (max-width: 480px) {
  .menu__link {
    font-size: 20px;
  }
}

.main {
  padding-top: 90px;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15rem;
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  color: rgba(44, 44, 44, 0.055);
  font-size: 4em;
  letter-spacing: .2em;
  /* Animation provies a slight random skew. Check bottom of doc
for more information on how to random skew. */
  animation: glitch-skew 10s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff02c0;
  /* Creates an initial clip for our glitch. This works in
	a typical top,right,bottom,left fashion and creates a mask
	to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
	with an alternating animation to keep things fresh. */
  animation: glitch-anim 0.5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00bf;
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(44px, 9999px, 47px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  5% {
    clip: rect(100px, 9999px, 10px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  10% {
    clip: rect(63px, 9999px, 89px, 0);
    -webkit-transform: skew(0.44deg);
            transform: skew(0.44deg);
  }
  15% {
    clip: rect(9px, 9999px, 85px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  20% {
    clip: rect(69px, 9999px, 28px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  25% {
    clip: rect(3px, 9999px, 62px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  30% {
    clip: rect(55px, 9999px, 5px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  35% {
    clip: rect(65px, 9999px, 5px, 0);
    -webkit-transform: skew(0.19deg);
            transform: skew(0.19deg);
  }
  40% {
    clip: rect(94px, 9999px, 35px, 0);
    -webkit-transform: skew(0.02deg);
            transform: skew(0.02deg);
  }
  45% {
    clip: rect(13px, 9999px, 88px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  50% {
    clip: rect(80px, 9999px, 28px, 0);
    -webkit-transform: skew(0.12deg);
            transform: skew(0.12deg);
  }
  55% {
    clip: rect(93px, 9999px, 43px, 0);
    -webkit-transform: skew(0.11deg);
            transform: skew(0.11deg);
  }
  60% {
    clip: rect(62px, 9999px, 51px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  65% {
    clip: rect(43px, 9999px, 55px, 0);
    -webkit-transform: skew(0.1deg);
            transform: skew(0.1deg);
  }
  70% {
    clip: rect(55px, 9999px, 82px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  75% {
    clip: rect(62px, 9999px, 33px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  80% {
    clip: rect(31px, 9999px, 95px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  85% {
    clip: rect(90px, 9999px, 24px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  90% {
    clip: rect(43px, 9999px, 40px, 0);
    -webkit-transform: skew(0.8deg);
            transform: skew(0.8deg);
  }
  95% {
    clip: rect(47px, 9999px, 43px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  100% {
    clip: rect(27px, 9999px, 4px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(44px, 9999px, 47px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  5% {
    clip: rect(100px, 9999px, 10px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  10% {
    clip: rect(63px, 9999px, 89px, 0);
    -webkit-transform: skew(0.44deg);
            transform: skew(0.44deg);
  }
  15% {
    clip: rect(9px, 9999px, 85px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  20% {
    clip: rect(69px, 9999px, 28px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  25% {
    clip: rect(3px, 9999px, 62px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  30% {
    clip: rect(55px, 9999px, 5px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  35% {
    clip: rect(65px, 9999px, 5px, 0);
    -webkit-transform: skew(0.19deg);
            transform: skew(0.19deg);
  }
  40% {
    clip: rect(94px, 9999px, 35px, 0);
    -webkit-transform: skew(0.02deg);
            transform: skew(0.02deg);
  }
  45% {
    clip: rect(13px, 9999px, 88px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  50% {
    clip: rect(80px, 9999px, 28px, 0);
    -webkit-transform: skew(0.12deg);
            transform: skew(0.12deg);
  }
  55% {
    clip: rect(93px, 9999px, 43px, 0);
    -webkit-transform: skew(0.11deg);
            transform: skew(0.11deg);
  }
  60% {
    clip: rect(62px, 9999px, 51px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  65% {
    clip: rect(43px, 9999px, 55px, 0);
    -webkit-transform: skew(0.1deg);
            transform: skew(0.1deg);
  }
  70% {
    clip: rect(55px, 9999px, 82px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  75% {
    clip: rect(62px, 9999px, 33px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  80% {
    clip: rect(31px, 9999px, 95px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  85% {
    clip: rect(90px, 9999px, 24px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  90% {
    clip: rect(43px, 9999px, 40px, 0);
    -webkit-transform: skew(0.8deg);
            transform: skew(0.8deg);
  }
  95% {
    clip: rect(47px, 9999px, 43px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  100% {
    clip: rect(27px, 9999px, 4px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(87px, 9999px, 41px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  5% {
    clip: rect(30px, 9999px, 60px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  10% {
    clip: rect(86px, 9999px, 24px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  15% {
    clip: rect(33px, 9999px, 18px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  20% {
    clip: rect(95px, 9999px, 83px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  25% {
    clip: rect(31px, 9999px, 71px, 0);
    -webkit-transform: skew(0.54deg);
            transform: skew(0.54deg);
  }
  30% {
    clip: rect(11px, 9999px, 35px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  35% {
    clip: rect(15px, 9999px, 89px, 0);
    -webkit-transform: skew(0.04deg);
            transform: skew(0.04deg);
  }
  40% {
    clip: rect(64px, 9999px, 1px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  45% {
    clip: rect(74px, 9999px, 79px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  50% {
    clip: rect(92px, 9999px, 56px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  55% {
    clip: rect(56px, 9999px, 55px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  60% {
    clip: rect(94px, 9999px, 57px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
  65% {
    clip: rect(42px, 9999px, 89px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  70% {
    clip: rect(9px, 9999px, 72px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  75% {
    clip: rect(96px, 9999px, 90px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  80% {
    clip: rect(12px, 9999px, 98px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  85% {
    clip: rect(100px, 9999px, 35px, 0);
    -webkit-transform: skew(0.44deg);
            transform: skew(0.44deg);
  }
  90% {
    clip: rect(17px, 9999px, 30px, 0);
    -webkit-transform: skew(0.23deg);
            transform: skew(0.23deg);
  }
  95% {
    clip: rect(71px, 9999px, 17px, 0);
    -webkit-transform: skew(0.37deg);
            transform: skew(0.37deg);
  }
  100% {
    clip: rect(73px, 9999px, 41px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(87px, 9999px, 41px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  5% {
    clip: rect(30px, 9999px, 60px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  10% {
    clip: rect(86px, 9999px, 24px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  15% {
    clip: rect(33px, 9999px, 18px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  20% {
    clip: rect(95px, 9999px, 83px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  25% {
    clip: rect(31px, 9999px, 71px, 0);
    -webkit-transform: skew(0.54deg);
            transform: skew(0.54deg);
  }
  30% {
    clip: rect(11px, 9999px, 35px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  35% {
    clip: rect(15px, 9999px, 89px, 0);
    -webkit-transform: skew(0.04deg);
            transform: skew(0.04deg);
  }
  40% {
    clip: rect(64px, 9999px, 1px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  45% {
    clip: rect(74px, 9999px, 79px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  50% {
    clip: rect(92px, 9999px, 56px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  55% {
    clip: rect(56px, 9999px, 55px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  60% {
    clip: rect(94px, 9999px, 57px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
  65% {
    clip: rect(42px, 9999px, 89px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  70% {
    clip: rect(9px, 9999px, 72px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  75% {
    clip: rect(96px, 9999px, 90px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  80% {
    clip: rect(12px, 9999px, 98px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  85% {
    clip: rect(100px, 9999px, 35px, 0);
    -webkit-transform: skew(0.44deg);
            transform: skew(0.44deg);
  }
  90% {
    clip: rect(17px, 9999px, 30px, 0);
    -webkit-transform: skew(0.23deg);
            transform: skew(0.23deg);
  }
  95% {
    clip: rect(71px, 9999px, 17px, 0);
    -webkit-transform: skew(0.37deg);
            transform: skew(0.37deg);
  }
  100% {
    clip: rect(73px, 9999px, 41px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  10% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  20% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  30% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  40% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  50% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  60% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  70% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  80% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  90% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  100% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
}

@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  10% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  20% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  30% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  40% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  50% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  60% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  70% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  80% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  90% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  100% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
}

.main-title {
  max-width: 40%;
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707c7;
}

.main__subtitle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subtitle {
  margin-top: 10%;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

.main-button {
  padding-top: 2.25rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main-button span {
  margin-right: 2px;
  font-size: 18px;
}

.leng {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  background-color: #fff;
}

.leng:hover {
  color: #070707;
}

.language__img_active {
  color: #070707;
}

.main-image {
  margin: 50px 250px 0px 250px;
  overflow: hidden;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.main-image img {
  width: 943px;
  height: 420px;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.main__image:hover {
  -webkit-transform: scale(1.1) rotate(-3deg);
          transform: scale(1.1) rotate(-3deg);
}

@media (max-width: 1240px) {
  .main-container {
    margin: 0 9rem;
  }
  .main-image {
    margin-left: 9rem;
    margin-right: 9rem;
  }
}

@media (max-width: 991px) {
  .main-container {
    margin: 0 9rem;
  }
  .main-title {
    font-size: 40px;
  }
  .main-image img {
    max-width: 100%;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .main-container {
    margin: 0 3rem;
  }
  .main-button {
    padding-top: 10%;
  }
  .main-image {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

@media (max-width: 600px) {
  .main-title {
    max-width: 40%;
    font-size: 36px;
    margin-right: 6%;
  }
  .subtitle {
    margin: 10% 0 0 0;
    font-size: 14px;
  }
  .glitch {
    letter-spacing: 0.2em;
  }
}

@media (max-width: 500px) {
  .main-container {
    margin: 0 3rem;
  }
  .main-image {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .main-title {
    width: 100%;
    font-size: 26px;
    margin-right: 6%;
    line-height: 30px;
  }
  .subtitle {
    margin: 5% 0 0 0;
    font-size: 11px;
  }
  .leng {
    font-size: 12px;
  }
  .main-button {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .main {
    padding-top: 35px;
  }
}

@media (max-width: 450px) {
  .main-container {
    margin: 0 0.5rem;
  }
  .main-button {
    padding-top: 2.25rem;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .main-container {
    display: block;
  }
  .main__subtitle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .main-container {
    display: block;
  }
  .main__subtitle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about {
  margin-top: 100px;
  background: #F6F6F6;
}

.about-container {
  padding-top: 120px;
}

.about-title {
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  padding-bottom: 18px;
}

.about-text {
  max-width: 485px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
}

.about-text p, a {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

.scills {
  padding-top: 1px;
}

.scills-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
  font-size: 45px;
  font-weight: bold;
  line-height: 42px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #070707;
}

.glit {
  -webkit-animation: glit 2s linear infinite;
          animation: glit 2s linear infinite;
}

@-webkit-keyframes glit {
  2%, 64% {
    -webkit-transform: translate(2px, 0) skew(0deg);
            transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    -webkit-transform: translate(-2px, 0) skew(0deg);
            transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    -webkit-transform: translate(0, 0) skew(5deg);
            transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glit {
  2%, 64% {
    -webkit-transform: translate(2px, 0) skew(0deg);
            transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    -webkit-transform: translate(-2px, 0) skew(0deg);
            transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    -webkit-transform: translate(0, 0) skew(5deg);
            transform: translate(0, 0) skew(5deg);
  }
}

.glit:before,
.glit:after {
  content: attr(title);
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glit:before {
  -webkit-animation: glitTop 1s linear infinite;
          animation: glitTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@-webkit-keyframes glitTop {
  2%, 64% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  4%, 60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  62% {
    -webkit-transform: translate(35px, -15px) skew(-33deg);
            transform: translate(35px, -15px) skew(-33deg);
  }
}

@keyframes glitTop {
  2%, 64% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  4%, 60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  62% {
    -webkit-transform: translate(35px, -15px) skew(-33deg);
            transform: translate(35px, -15px) skew(-33deg);
  }
}

.glit:after {
  -webkit-animation: glitBotom 1.5s linear infinite;
          animation: glitBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@-webkit-keyframes glitBotom {
  2%, 64% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  4%, 60% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  62% {
    -webkit-transform: translate(-35px, 15px) skew(21deg);
            transform: translate(-35px, 15px) skew(21deg);
  }
}

@keyframes glitBotom {
  2%, 64% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  4%, 60% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  62% {
    -webkit-transform: translate(-35px, 15px) skew(21deg);
            transform: translate(-35px, 15px) skew(21deg);
  }
}

.hard-scills {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scills-list {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -moz-column-fill: auto;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -webkit-column-fill: auto;
  column-count: 2;
  column-gap: 20px;
  column-fill: auto;
}

.list {
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  margin-bottom: 10px;
}

.list span {
  font-weight: bold;
}

.scills-text {
  margin-top: 70px;
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.scills-program {
  -webkit-column-gap: 10%;
          column-gap: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 85px 0px 110px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scills-vs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scills-vs__img {
  cursor: pointer;
}

.scills-vs__img:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.scills-vs__title {
  margin-top: 25px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

.scills-vs__stars {
  margin-top: 40px;
  width: 166px;
  height: 27px;
}

@media (max-width: 767px) {
  .scills-program {
    -webkit-column-gap: 5%;
    column-gap: 5%;
  }
  .scills-vs__stars img {
    width: 150px;
  }
  .scills-list {
    column-gap: 10px;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
  }
  .list {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .scills-program {
    display: block;
  }
  .scills-vs {
    margin-bottom: 30px;
  }
  .scills-list {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.portfolio {
  padding-bottom: 50px;
  background: #F6F6F6;
}

.portfolio-frame {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 2em;
  max-width: 890px;
  list-style: none;
  text-align: center;
}

/* Common style */
.portfolio-frame figure {
  overflow: hidden;
  margin: 10px 1%;
  max-width: 900px;
  max-height: 610px;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.portfolio-frame figure img {
  position: relative;
  display: block;
  min-height: 610px;
  max-width: 900px;
  opacity: 0.8;
}

.portfolio-frame figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.portfolio-frame figure figcaption::before,
.portfolio-frame figure figcaption::after {
  pointer-events: none;
}

.portfolio-frame figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 610px;
}

.portfolio-frame figure h2 {
  word-spacing: 0.15em;
  font-weight: 300;
}

.portfolio-frame figure h2 span {
  font-weight: 800;
}

.portfolio-frame figure h2,
.portfolio-frame figure p {
  margin: 0;
}

.portfolio-frame figure p {
  letter-spacing: 1px;
  font-size: 90.5%;
}

figure.effect-milo {
  background: #2e5d5a;
}

figure.effect-milo img {
  max-width: none;
  width: calc(100% + 60px);
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(-30px, 0, 0) scale(1.05);
  transform: translate3d(-30px, 0, 0) scale(1.05);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-milo:hover img {
  opacity: 0.5;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}

figure.effect-milo h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 5vw;
  bottom: 0;
  padding: 1em 1.2em;
  opacity: 0;
}

figure.effect-milo:hover h2 {
  opacity: 1;
}

figure.effect-milo p {
  margin: 30px 0px 0px 0px;
  padding: 0 10px 0 0;
  width: 40%;
  border-right: 1px solid #fff;
  text-align: right;
  line-height: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

figure.effect-milo:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.portfolio-container {
  padding-top: 112px;
}

.portfolio-title {
  text-align: center;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  margin-bottom: 47px;
}

.portfolio-text {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

.portfolio-text:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.figma-text {
  display: block;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

.figma-text:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media (max-width: 970px) {
  .portfolio-frame img {
    width: 100%;
    height: 100%;
  }
  figure.effect-milo h2 {
    right: 15%;
  }
}

@media (max-width: 768px) {
  figure.effect-milo h2 {
    right: 30%;
  }
}

@media (max-width: 576px) {
  figure.effect-milo h2 {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 400px) {
  figure.effect-milo h2 {
    max-width: 300px;
    left: 0;
    font-size: 14px;
  }
  figure.effect-milo p {
    width: 30%;
  }
}

.footer {
  margin-top: 100px;
  padding-bottom: 30px;
}

.footer-title {
  padding-top: 20;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}

.footer-text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  margin-bottom: 30px;
}

.footer-button {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  width: 180px;
  height: 42px;
  border-radius: 20px;
}

.footer-button span {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.footer-button:hover:hover {
  -webkit-animation: rainbow 0.7s infinite;
          animation: rainbow 0.7s infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background: #1abc9c;
  }
  10% {
    background: #2ecc71;
  }
  20% {
    background: #3498db;
  }
  30% {
    background: #9b59b6;
  }
  40% {
    background: #e74c3c;
  }
  50% {
    background: #e67e22;
  }
  60% {
    background: #f1c40f;
  }
  70% {
    background: #2c3e50;
  }
  80% {
    background: #9b59b6;
  }
}

@keyframes rainbow {
  0% {
    background: #1abc9c;
  }
  10% {
    background: #2ecc71;
  }
  20% {
    background: #3498db;
  }
  30% {
    background: #9b59b6;
  }
  40% {
    background: #e74c3c;
  }
  50% {
    background: #e67e22;
  }
  60% {
    background: #f1c40f;
  }
  70% {
    background: #2c3e50;
  }
  80% {
    background: #9b59b6;
  }
}

@-webkit-keyframes jittery {
  5%,
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  15% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  20% {
    -webkit-transform: scale(1.15) rotate(-5deg);
            transform: scale(1.15) rotate(-5deg);
  }
  25% {
    -webkit-transform: scale(1.15) rotate(5deg);
            transform: scale(1.15) rotate(5deg);
  }
  30% {
    -webkit-transform: scale(1.15) rotate(-3deg);
            transform: scale(1.15) rotate(-3deg);
  }
  35% {
    -webkit-transform: scale(1.15) rotate(2deg);
            transform: scale(1.15) rotate(2deg);
  }
  40% {
    -webkit-transform: scale(1.15) rotate(0);
            transform: scale(1.15) rotate(0);
  }
}

@keyframes jittery {
  5%,
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  15% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  20% {
    -webkit-transform: scale(1.15) rotate(-5deg);
            transform: scale(1.15) rotate(-5deg);
  }
  25% {
    -webkit-transform: scale(1.15) rotate(5deg);
            transform: scale(1.15) rotate(5deg);
  }
  30% {
    -webkit-transform: scale(1.15) rotate(-3deg);
            transform: scale(1.15) rotate(-3deg);
  }
  35% {
    -webkit-transform: scale(1.15) rotate(2deg);
            transform: scale(1.15) rotate(2deg);
  }
  40% {
    -webkit-transform: scale(1.15) rotate(0);
            transform: scale(1.15) rotate(0);
  }
}

@-webkit-keyframes heartbeat {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes heartbeat {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.footer-list {
  margin-top: 86px;
}

.footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer-link:hover {
  -webkit-animation: jittery 4s infinite;
          animation: jittery 4s infinite;
}

.footer-link:hover:hover {
  -webkit-animation: heartbeat 0.2s infinite;
          animation: heartbeat 0.2s infinite;
}

.footer-link {
  margin: 0px 30px 0px 30px;
}

.footer-subtext {
  margin-top: 45px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  margin-bottom: 120px;
}

body {
  top: 0 !important;
}

.skiptranslate {
  display: none;
  height: 0;
}

.language__img {
  cursor: pointer;
}

#goog-gt-tt {
  display: none;
  visibility: hidden;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

#goog-gt-tt {
  display: none !important;
  top: 0px !important;
}

.goog-tooltip skiptranslate {
  display: none !important;
  top: 0px !important;
}

.activity-root {
  display: hide !important;
}

.status-message {
  display: hide !important;
}

.started-activity-container {
  display: hide !important;
}
